@import '../../scss//color';

.movieList, .showList {
   margin: 20px 0px;

   h2 {
      color: $colorFontSecondary;
      margin-bottom: 10px;
      font-weight: 400;
   }
}

.moviesError, .showsError {
   color: $colorFontPrimary;
}

